/* Media Queries */
/* Card sizing */
/* Colors */
/* Calculations */
/* Placeholders */
/* Some Cool Stuff */
/* Border Box */
* {
  box-sizing: border-box;
}


#timeline .demo-card .body img {
  display: block;
  width: 100%;
}





#timeline .demo-card--step4 {
  background-color: #4d92eb;
}
#timeline .demo-card--step4 .head::after {
  border-color: #4d92eb;
}
#timeline .demo-card--step5 {
  background-color: #46b8e9;
}
#timeline .demo-card--step5 .head::after {
  border-color: #46b8e9;
}
